body {
	margin: 0;
}

.pb-3{padding-bottom: 60px!important;}

.italicize{
	font-style:italic;
}

#heading1
{
	font-family: 'Anton', sans-serif;
	background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	-webkit-text-stroke-width: 1px; 
	-webkit-text-stroke-color: brown; 
	padding: 9vw 2vw 0vw 2vw; 
	text-align: center; 
	font-size: 8vw;
	
}

.subheading {
	font-family: 'Anton', sans-serif;
	text-align: center;
	background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: brown;
	text-align: start;
	font-size: 4vw;
}

	.subheading.central {
		text-align: center;
	}

#para1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	text-align: start;
	color: white;
}

.paracentral {
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	text-align: center;
	color: white;
}

.text1 {
	font-style: italic;
}

.backgroundvid {
	padding: 0;
	z-index: 0;
	background-color: rgba(1,1,1,0.4);
}

#video {
	position: absolute;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}


.container-fluid.background1 {
	background-image: url("/images/background/bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	padding: 0px;
}




.container-fluid.main
{
	padding: 0;
}

.container-fluid.navigation {
	background-color: rgba(1,1,1,1);
	padding: 0px;
}

.container-fluid.footer {
	background-color: rgba(1,1,1,1);
	position:sticky;
	
}



.zindex {
	z-index: 2;
}

.text1{
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	text-align: center;
	
	color: white;
}

.text1.a {
	text-align:center;
	}



ul a {
	color: ghostwhite;
}

.gen {
	border-bottom: 2px solid;
	border-color: khaki;
	text-align: center;
	padding: 0px 100px 0px 100px;
	width: auto;
}
.genlist {
	border-bottom: 2px solid;
	border-color: khaki;
	text-align: center;
}

.navintext {
	color: white;
	text-decoration: none;
}

div {
	overflow: hidden;
}

h5{
	text-align: initial;
	overflow:hidden;
}

.floatleft {
	float:left;
	padding: 5px;
}

.floatright {
	float: right;
	padding: 5px;
}


.padding{
	padding:10px;
}

.image{
	width:20vw;
	height:25vw;
	padding:10px;
}






 

/*GENAI PAGE*/

.container-fluid.background2 {
	width: 100vw;
	background-image: url("/images/background/bg5.jpg");
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container-fluid.background3 {
	width: 100vw;
	background-image: url("/images/background/bg6.jpg");
	margin: 0px;
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container-fluid.background4 {
	width: 100vw;
	background-image: url("/images/background/bg7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	padding: 0px;
}

.gen1 {
	position:relative;
	border-bottom: 2px solid;
	border-color: khaki;
	padding-bottom:100px;
}

.genaiimg {
	float: left;
	padding: 5px;
	position: relative;
}

.readmore {
	color: white;
	border: solid 2px white;
	text-decoration: none;
}

.readmoreimg {
	color: white;
	border: solid 2px white;
	background-color: blue;
	
	
}

.readmoreposition {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.text1.noncenter{
	text-align:start;
}

/*Jobs PAGE*/

.container-fluid.background5 {
	background-image: url("/images/background/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	padding-bottom: 100px;
}

.background6 {
	background-image: url("/images/background/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	padding: 0px;
}

.container.jobs{
	border-bottom: solid 2px;
	border-color: yellow;
	padding: 25px;
}

.subheading.textcenter {
	text-align: center;
}

.container.jobsdesc 
{
	background: rgba(0, 0, 80, 0.7);
	padding-bottom: 100px;
	
}

table, td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	display: inline-block;
	overflow: auto;
}

th, td {
	padding: 5px;
}

th {
	background-color: navy;
	color: yellow;
	text-align: center;
}

tr {
	background-color: white;
	color: navy;
}

	tr:hover {
		background-color: #f5f5f5;
	}

.plot {
	max-width: 100%;
	height:auto;

}

.jobs {
	margin-top: 20px; 
}

#output1, #output2, svg{
	
	overflow:hidden;

}

#output3 {
;
	overflow: hidden;
}
img{
	max-height:100%;
	max-width:100%;
}



/*Contacts PAGE*/

.container-fluid.background7 {
	background-image: url("/images/background/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

.contacts{
	margin: 0;
	background-color: rgba(0,0,100,0.5);
	box-shadow: 5px 10px yellow;
	padding:10px;
	height:auto;
	
}

@media (max-width: 768px) {
	.contacts {
		box-shadow:none;
	}
}


.container.sheading {
	border-bottom: solid 2px;
	border-color: yellow;
}

.container.jobheader {
	padding-bottom:200px;
}

.genaisites {
	padding-bottom: 200px;
}

.subheading1 {
	font-family: Niconne;
	text-align: center;
	background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: brown;
	font-size: 4vw;
}

/*CREATE GENAI PAGE*/

.sitesimg {

	max-width:100%;
	height: auto; 
	display: block;
}

.genaidesc {
	background-image: linear-gradient(180deg, blue, white, white, white, white);
	

}

.sitescontainer, .genaidesc, .imgcontainer {
	padding: 0px;
	margin:0px;
}

.sitestopic {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3vw;
}.nospace{
	 letter-spacing:0vw;
 }

.sitesdesc {
	text-align: start;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
}

.createanchor{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	
}


.inputsize{
	width:75vw;
}

/*EDIT GENAI PAGE*/

.bottompadding {
	padding-bottom: 1000px;
}

.form-group{
	padding-bottom: 20px;
}

/* GENAI PAGE*/

.yellowcontainer {
	border-top: 3px solid yellow;
	border-bottom: 3px solid yellow;
}

.yellowheading {
	color: yellow;
}




/*BOTTOM OF MAIN PAGE*/

.bottomsitescontainer {
	
	max-width: 100%;
	overflow: hidden;
	position:relative;
	
}

.bottomsitesoverlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, silver, white, silver);
	opacity: 1;
	transition: opacity 2s ease;
	z-index: 3;
	
	
}

.bottomsitesoverlay:hover {
	opacity: 0; 
}

.bottomcontainer {
	height: 20vw;
	max-width: 100%;
}