html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
  
}

a.nav-link{
    color:white!important;

}

.bottompadding1{
    padding-bottom:100px;
}

.footercontainer{
    padding:0px;
    height:50px;
}

.footer{
    width:100%!important;
}
footer {
    width: 100%
}

.container-fluid{
    padding:0px;
}

h3{
    color:yellow!important;
}

hr{
    color:yellow!important;
    height:2px!important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}




