@page
@model FINALASSIGNMENT_u3233707.Views.Home.ContactsModel
@{
}



<div class="container-fluid background7">
	<div class="container jobheader"> 
		<h3 id="heading1">Contact & About</h3>
	</div>
	<div class="row">
		<div class="container col-md-4 col-sm-12 col-12 contacts">
			<div class="">
			<div class="container sheading">
					<h5 class="subheading1 textcenter">Contact Us</h5>
			</div>
				<p id="para1" class="text-center">
				This website was written by Norbu Chogyel Tobgyel
				To get in contact please email u3233707@uni.canberra.edu.au
			</p>
			</div>
	</div>

		<div class="container col-md-4 col-sm-12 col-12 contacts">
			<div class="">
				<div class="container sheading">
					<h5 class="subheading1 textcenter">About Us</h5>
				</div>
					<p id="para1" class="text-center">
					This website provides an introduction to Artificial Intelligence and was created as
					partial fulfillment of the assessment requirements of Web Design and Programming at the
					University of Canberra.
					This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
					techniques.

				</p>
		</div>
	</div>

	<div class="container col-md-4 col-sm-12 col-12 contacts">
		<div class="container">
		<div class="container sheading">
				<h5 class="subheading1 textcenter">Copyright</h5>
		</div>
		<p id="para1" class="text-center">
					<ul id="para1"> All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a> </ul>
					<ul id="para1"> The icons for the footer from <a href="https://fontawesome.com/">fontawesome.</a> </ul>
					<ul id="para1"> The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts.</a> </ul>
					<ul id="para1"> The AI jobs dataset from <a href="https://ai-jobs.net/">Insights.</a></ul>
					<ul id="para1">	The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a></ul>
					<ul id="para1">The Python web based on PyScript from  <a href="https://realpython.com/pyscript-python-in-browser/"> Real Python.</a></ul>
		</p>
		</div>
	</div>

	<div class="bottompadding"> </div>
	</div>
</div>
