

<div class="container-fluid background2">
	<div id="genaitools1">
		<h3 id="heading1">GenAI Tools</h3>
		<div class="moredetailsdesc1"></div>
	</div>
	
</div>

<div class="container-fluid background3">
	<div id="genaiorg1">
		<h3 id="heading1">GenAI Organisation</h3>
		<div class="moredetailsdesc2">
		</div>
	</div>
</div>

<div class="container-fluid background4">

	<div id="genaiapp1">
		<h3 id="heading1">GenAI Applications</h3>
		
		<div class="moredetailsdesc3"></div>
		</div>
	<div class="bottompadding"></div>
</div>


	
	


