@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid background5">
    
    <div class="container">
        <h3 id="heading1"> AI Jobs </h3>
        <p class="text1">AI job dataset: Insights AI-Jobs</p>
        <p class="text1">Python source for tables and charts: Kaggle</p>
        
    </div>
</div>

<div class="background6">
    <py-config>
        packages = ["matplotlib", "pandas", "seaborn"]
    </py-config>
    <py-script>
        import pandas as pd
        import matplotlib.pyplot as plt
        import seaborn as sns
        from pyodide.http import open_url
        url = open_url('/csv/salaries2023.csv')
        df = pd.read_csv(url)
        df1 = pd.DataFrame(df)
        display(df.head(n=7), target="output1", append=False)

        m = df.shape[0]
        top_jobs = df.job_title.value_counts()[: 7]
        job_distribution = top_jobs*100/m
        job_distribution.plot(kind = 'pie', autopct = '%1.0f%%', figsize = (7,3.5))
        plt.title('Job distribution among top 10 in demand job title')

        display(plt, target="output2", append=False)



        plt.figure()
        colors = ['blue', 'orange', 'green', 'red']
        bar = sns.barplot(data=df, x="work_year", y="salary_in_usd", palette=colors, hue="work_year", legend=False)
       
        plt.title('Salary by Work Year')
        display(plt, target="output3", append=False)

    </py-script>

   
    <div class="container jobs row justify-content-center mx-auto">
        <div class="container jobsdesc col-md-6 col-sm-12 col-12 floatleft" >
            <h3 class="subheading textcenter" > Top 5 Companies </h3>
            <p class="text1"> According to number of employees</p>
        </div>
        <div class="col-md-6 col-sm-12 col-12 plot floatright" id="output1">
            
        </div>


    </div>

    <div class="container jobs row justify-content-center mx-auto">
        <div id="output2"  class="container plot col-md-6 col-sm-12 col-12 floatleft">


        </div>
        <div class="container jobsdesc col-md-6 col-sm-12 col-12 floatright">
            <h3 class="subheading textcenter"> Job Distribution </h3>
            <p class="text1">Among top 10 in demand job title</p>
        </div>
        


    </div>


    <div class="container jobs row justify-content-center mx-auto">
            <div class="container jobsdesc col-md-6 col-sm-12 col-12 floatleft">
                <h3 class="subheading textcenter">Salaries </h3>
                <p class="text1">in the last 3 years</p>
            </div>
            
                
            <div id="output3" class="container plot col-md-6 col-sm-12 col-12 floatright">


            </div>
    </div>

    <div class="bottompadding"></div>
</div>


